<title>BH Login</title>
<main>
    <div class="center" id="form-container">
        <h2>Login</h2>
        <form id="form" method="post" action="/login-user">
            <input id="username" class="middleCol" name="username" type="username" placeholder="Username"/>
            <input id="password" class="middleCol" name="password" type="password" placeholder="Password"/>
            {{#if error}}
            <p style="grid-column: 1/5" class="errorText">{{error_msg}}</p>
            {{/if}}
            <input type="submit" value="Login" class="middleCol action-button"/>
        </form>
        <p>Don't have an account? Register <a href="/registration">here</a>.</p>
    </div>
</main>
